<!DOCTYPE html>
<html>

<head>
    <title>Patient Registration</title>
</head>

<body>

<h1>Register Patient</h1>

<form action="/register" method="POST">

    <input
        type="text"
        name="name"
        placeholder="Name"
        required>

    <br><br>
<label>Email</label>

<br>

<input
    type="email"
    name="email"
    required>

<br><br>

    <input
        type="number"
        name="age"
        placeholder="Age"
        required>

    <br><br>

    <input
        type="text"
        name="gender"
        placeholder="Gender"
        required>

    <br><br>

    <input
        type="text"
        name="address"
        placeholder="Address"
        required>

    <br><br>
    <label>
Previous No Shows
</label>

<br>

<input
type="number"
name="previous_noshows"
value="0">

<br><br>

<label>
SMS Received
</label>

<br>

<select name="sms_received">

<option value="1">
Yes
</option>

<option value="0">
No
</option>

</select>

    <button type="submit">
        Register
    </button>

</form>

</body>
</html>